<ion-content>
  <div class="header">
    <div class="back-btn" (click)="goBack('home')">
      <img src="../../assets/icon/home.png" alt="" />
    </div>
    <div class="logo">
      <img src="../../assets/icon/dragon.png" alt="" width="80px" />
    </div>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Droits d'auteurs</ion-card-subtitle>
      <ion-card-title>Dragon Quiz</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      L'application "Dragon Quiz" est une application à vocation récréative. Les
      questions et réponses ont été écrites par Ngoc Le.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Votre avis nous intéresse !</ion-card-subtitle>
      <ion-card-title>Contact</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      N'hésitez pas à laisser un commentaire sur le PlayStore et nous suggérer
      d'autres questions ou des améliorations !
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Droits des images</ion-card-subtitle>
      <ion-card-title>Crédits</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Les icones sont libres de droits et proviennent du site :
      <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>N'oubliez jamais</ion-card-subtitle>
      <ion-card-title>Le racisme, la xénophobie, le harcèlement</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Ne sont pas acceptables et ne doivent pas être acceptés, prenez-soin les
      uns des autres ! Tous les humains sont égaux :)
    </ion-card-content>
  </ion-card>
</ion-content>
